hr {
  border: 0;
  line-height: 0;
  margin: 0 0 var(--md-spacing) 0;
}

hr::after {
  content: "-----------------------------------------------------------------------------------------------------------------------------------------------";
  font-size: 14px;
  width: 100%;
}
